{% extends "includes/layout.njk" %}

{% from "macros/title.njk"  import title %}

{% block pageTitle %}
  {{ title(messages("fileupload.error.quarantine.title")) }}
{% endblock %}


{% block mainContent %}

    <div class="govuk-grid-row">
       <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-xl">
            {{ messages("fileupload.error.quarantine.title") }}
          </h1>

             <p class="govuk-body">
               {{ messages("fileupload.error.quarantine.p1") }}
             </p>

             <p class="govuk-body">
               {{ messages("fileupload.error.quarantine.p2") }}
             </p>

             <p class="govuk-body">
               <a href="{{ returnUrl }}" class="govuk-link">
                 {{ messages("fileupload.returnlink") }}
               </a>
             </p>
{% endblock %}
