{% extends "includes/layout.njk" %}

{% from "macros/title.njk"  import title %}


{% block pageTitle %}
  {{ title(messages("fileupload.error.rejected.title")) }}
{% endblock %}


{% block mainContent %}

    <div class="govuk-grid-row">
       <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-xl">
            {{ messages("fileupload.error.rejected.title") }}
          </h1>

             <p class="govuk-body">
               {{ messages("fileupload.error.rejected.p1") }}
             </p>

                <ul class="govuk-list govuk-list--bullet">
                   <li>{{ messages("fileupload.error.rejected.list.b1") }}</li>
                   <li>{{ messages("fileupload.error.rejected.list.b2") }}</li>
                   <li>{{ messages("fileupload.error.rejected.list.b3") }}</li>
                   <li>{{ messages("fileupload.error.rejected.list.b4") }}</li>
                </ul>

             <p class="govuk-body">
               {{ messages("fileupload.error.rejected.p2") }}
             </p>

             <p class="govuk-body">
               <a href="{{ returnUrl }}" class="govuk-link">
                 {{ messages("fileupload.returnlink") }}
               </a>
             </p>
{% endblock %}
