
 <h2 class="govuk-heading-m">{{ messages("messages__schemeDetails__aft_h1") }}</h2>
    {% for aftViewModel in aftModels %}
            {% if aftViewModel.period %}

                <div id="aft-list">
                         <div class="row-group grid-row">
                             <div id="aftPeriod" class="column-one-half table-column">
                                 {{aftViewModel.period}}
                             </div>
                             <div id="aftStatus" class="column-one-third table-column">
                                 {{aftViewModel.status}}
                             </div>
                             <div class="column-one-sixth table-column">
                                 <a id= "{{aftViewModel.link.id}}" href="{{aftViewModel.link.url}}">
                                  {{ aftViewModel.link.linkText }}
                                 </a>
                             </div>
                         </div>
                </div>

            {% else %}

                    <br/>
                    <p><a id="{{aftViewModel.link.id}}" href="{{aftViewModel.link.url}}">
                        {{aftViewModel.link.linkText}}
                    </a></p>

            {% endif %}

    {% endfor %}
