
 <h2 class="govuk-heading-m">{{ messages("paymentsAndCharges.partial.h1") }}</h2>
    <p><a id="view-payments-and-charges-id" href="{{redirectUrl}}">
                        {{messages("paymentsAndCharges.partial.view.link")}}
                    </a></p>
