<div class="card" id="penalties">
    <div class="card-body">
        <h2 class="card-heading">
            {{ messages("psaPenaltiesCard.h2") }}
        </h2>
        {% for subHeading in viewModel.subHeadings %}
            <p class="card-sub-heading ">
                <span class="font-xsmall">{{ subHeading.span }}</span>
                <span class="font-large bold">
                    {{ subHeading.total }}
                </span>
            </p>
        {% endfor %}
    </div>
    <div class="card-action">
        <ul>
            {% for link in viewModel.links %}
                <li>
                    <a id="{{ link.id }}" href="{{ link.url }}">{{ link.linkText }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
