{% if displayLink %}
    <li>
         <a class="govuk-link" id="aft-penalties-id" href="{{ viewPenaltiesUrl }}">
           {{ messages("penaltiesPartial.linkText") }}
         </a>
    </li>
{% endif %}

