
{% for card in cards %}
    <div class="card" id={{ card.id }}>
        <div class="card-body">
            <h2 class="card-heading govuk-heading-l">
                {{ card.heading }}
            </h2>
            {% for subHead in card.subHeadings %}
                <p class="card-sub-heading bold govuk-body-m">
                    <span class="font-xsmall">{{ subHead.subHeading }}</span>
                    {% for subHeadParams in subHead.subHeadingParams %}
                          {% if loop.index == 1 %}
                        <span class='font-large bold govuk-!-display-inline-block'>{{ subHeadParams.subHeadingParam  }}</span>
                         {% endif %}
                        {% if loop.index == 2 %}
                        <span class="font-xsmall govuk-!-display-inline-block">{{ messages("pspDashboardOverdueAftChargesCard.toDate.span") }}</span>
                                            {% endif %}
                    {% endfor %}
                </p>
            {% endfor %}
        </div>
        <div class="card-action">
            <ul class="govuk-list">
                {% for link in card.links %}
                    <li>
                        <a id="{{ link.id }}" class=govuk-link href="{{ link.url }}">{{ link.linkText }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endfor %}
