<div class="card" id="upcoming-aft-charges">
    <div class="card-body">
        <h2 class="card-heading govuk-heading-l">
            {{ messages("pspDashboardUpcomingAftChargesCard.h2") }}
        </h2>
        {% for subHeading in upcomingCharges.subHeadings %}
             <p class="card-sub-heading bold govuk-body-m">
                <span class="font-xsmall">{{ subHeading.span }}</span>
                <span class="font-large bold">{{ subHeading.total }}</span>
            </p>
        {% endfor %}
    </div>
    <div class="card-action">
        {% if upcomingCharges.links %}
        <ul class="govuk-list">
            {% for link in upcomingCharges.links %}
                <li>
                    <a id="{{ link.id }}" class="govuk-link" href="{{ link.url }}">{{ link.linkText }}</a>
                </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>