<div class="card" id="aft-returns">
    <div class="card-body">
        <h2 class="card-heading heading-small">
            {{ messages("pspDashboardAftPartial.h1") }}
        </h2>

        <h3 class="card-sub-heading bold">
            <span class="font-xsmall">AFT return 1 Apr to 30 Jun 2020:</span>
            In progress
        </h3>
    </div>
    <div class="card-action">
        <ul>
            <li>
                <a id="view-aft-return" href="#">View locked AFT return</a>
            </li>
            <li>
                <a id="start-aft-return" href="#">Start new AFT return</a>
            </li>
            <li>
                <a id="view-amend-past-aft-return" href="#">View or amend past AFT returns</a>
            </li>
        </ul>
    </div>
</div>