<div class="card" id="upcoming-aft-charges">
    <div class="card-body">
        <h2 class="card-heading heading-small">
            {{ messages("pspDashboardUpcomingAftChargesCard.h2") }}
        </h2>
        {% for subHeading in upcomingCharges.subHeadings %}
            <h3 class="card-sub-heading">
                <span class="font-xsmall">{{ subHeading.span }}</span>
                <span class="font-large bold">{{ subHeading.total }}</span>
            </h3>
        {% endfor %}
    </div>
    <div class="card-action">
        {% if upcomingCharges.links %}
        <ul>
            {% for link in upcomingCharges.links %}
                <li>
                    <a id="{{ link.id }}" href="{{ link.url }}">{{ link.linkText }}</a>
                </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>