{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"  import govukBackLink %}
{% from "macros/title.njk"                      import title %}
{% from "govuk/components/table/macro.njk"      import govukTable %}


{% block pageTitle %}
    {{ title(messages("psa.financial.overview.title")) }}
{% endblock %}

{% block mainContent %}

    <div class="govuk-grid-row">
         <div class="govuk-grid-column-two-thirds">

                    {{ hmrcPageHeading({
                        text: messages("psa.financial.overview.title"),
                        section: psaName
                    }) }}

                    <div class="govuk-grid-row">
                           <div class="govuk-grid-column-one-half">
                                <h2 class=" govuk-heading-m govuk-!-font-weight-regular">
                                   {{ messages("psa.financial.overview.h2.overdue") }}
                                </h2>
                                <p class="govuk-body govuk-!-font-size-36 govuk-!-font-weight-bold">{{ totalOverdueCharge }}</p>
                           </div>
                           <div class="govuk-grid-column-one-half">
                                 <h2 class=" govuk-heading-m govuk-!-font-weight-regular">
                                    {{ messages("psa.financial.overview.h2.totalInterestAccruing") }}
                                 </h2>
                                 <p class="govuk-body govuk-!-font-size-36 govuk-!-font-weight-bold">{{ totalInterestAccruing }}</p>
                           </div>
                    </div>
               {% if totalOverdueCharge != "£0.00" and totalInterestAccruing != "£0.00" %}
                <p class="govuk-body-m">
                    <a id="allOverdue" class=govuk-link href="{{allOverduePenaltiesAndInterestLink}}"> {{ messages("psa.financial.overview.allOverdue.link") }}</a>
                </p>
               {% endif %}
                <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                            <h2 class=" govuk-heading-m govuk-!-font-weight-regular">
                               {{ messages("psa.financial.overview.h2.totalDuePenalties") }}
                            </h2>
                           <p class="govuk-body govuk-!-font-size-36 govuk-!-font-weight-bold">{{ totalUpcomingCharge }}</p>

                    </div>
                </div>
                {% if totalUpcomingCharge != "£0.00" %}
                 <p class="govuk-body-m">
                        <a id="allDue" class=govuk-link href="{{duePaymentLink}}"> {{ messages("psa.financial.overview.allDue.link") }}</a>
                 </p>
                 {% endif %}
                <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

                <div class="govuk-grid-row">
                     <div class="govuk-grid-column-full">
                         <h2 class=" govuk-heading-m govuk-!-font-weight-regular">
                                                {{ messages("psa.financial.overview.h2.creditBalance") }}
                            </h2>
                        <p class="govuk-body govuk-!-font-size-36 govuk-!-font-weight-bold"> {{creditBalanceFormatted}} </p>
                        {% if creditBalance > 0 %}
                            <p class="govuk-body-m">
                                <a id="refund" class=govuk-link href="{{ requestRefundUrl }}"> {{ messages("psaSchemeFinancial.refund") }} </a>
                            </p>
                        {% endif %}

                     </div>
                </div>
                <p class="govuk-body-m">
                   <a id="allPaymentCharges" class=govuk-link href="{{ allPaymentLink }}"> {{ messages("psa.financial.overview.pastPenalties.link") }}</a>
                </p>

         </div>
    </div>

{% endblock %}