{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"  import govukBackLink %}
{% from "macros/title.njk"                      import title %}
{% from "govuk/components/table/macro.njk"      import govukTable %}

{% set financialAmounts = [] %}
{% set repaymentInterest = "£0.00" %}

 {% for card in cards %}
          {% for subHead in card.subHeadings %}
          {% for subHeadParams in subHead.subHeadingParams %}
                {% if loop.index == 1 %}
                {% set financialAmounts = (financialAmounts.push(subHeadParams.subHeadingParam), financialAmounts) %}
                 {% endif %}
            {% endfor %}
            {% endfor %}
       {% endfor %}


{% block pageTitle %}
    {{ title(messages("psaSchemeFinancial.title")) }}
{% endblock %}

{% block mainContent %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ hmrcPageHeading({
                text: messages("psaSchemeFinancial.h1"),
                section: schemeName
            }) }}
<div class="govuk-grid-row">
       <div class="govuk-grid-column-one-half">
            <h2 class=" govuk-heading-m govuk-!-font-weight-regular">
               {{ messages("psaSchemeFinancial.h2.overduePayments") }}
           </h2>
           <p class="govuk-body govuk-!-font-size-36 govuk-!-font-weight-bold">{{ financialAmounts[2] }}</p>
         </div>
       <div class="govuk-grid-column-one-half">
                     <h2 class=" govuk-heading-m govuk-!-font-weight-regular">
                        {{ messages("psaSchemeFinancial.h2.totalInterestAccruing") }}
                    </h2>
                     <p class="govuk-body govuk-!-font-size-36 govuk-!-font-weight-bold">{{financialAmounts[3] }}</p>
        </div>
        </div>
        {% if financialAmounts[2] != "£0.00" %}
                  <p class="govuk-body-m">
                        <a id="allOverdue" class=govuk-link href="{{ overduePaymentLink }}"> {{ messages("psaSchemeFinancial.allOverdue.link") }}</a>
                    </p>
        {% endif %}

                          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
<div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                    <h2 class=" govuk-heading-m govuk-!-font-weight-regular">
                                   {{ messages("psaSchemeFinancial.h2.totalDuePayment") }}
                               </h2>
                   <p class="govuk-body govuk-!-font-size-36 govuk-!-font-weight-bold">{{ financialAmounts[1] }}</p>

                         </div>
                          </div>

                 {% if financialAmounts[1] != "£0.00" %}
                     <p class="govuk-body-m">
                            <a id="allDue" class=govuk-link href="{{ duePaymentLink }}"> {{ messages("psaSchemeFinancial.allDue.link") }}</a>
                    </p>
                 {% endif %}
                         <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
<div class="govuk-grid-row">
                         <div class="govuk-grid-column-full">
                             <h2 class=" govuk-heading-m govuk-!-font-weight-regular">
                                                    {{ messages("psaSchemeFinancial.h2.creditBalance") }}
                                </h2>
                            <p class="govuk-body govuk-!-font-size-36 govuk-!-font-weight-bold"> {{creditBalanceFormatted}} </p>
                            {% if creditBalance > 0 %}
                                <p class="govuk-body-m">
                                    <a id="refund" class=govuk-link href="{{ requestRefundUrl }}"> {{ messages("psaSchemeFinancial.refund") }} </a>
                                </p>
                            {% endif %}

                         </div>
</div>
                    <p class="govuk-body-m">
                                               <a id="allPaymentCharges" class=govuk-link href="#"> {{ messages("psaSchemeFinancial.allPaymentCharges.link") }}</a>
                                       </p>

        </div>
    </div>

{% endblock %}