{% extends "includes/layout.njk" %}

{% from "macros/title.njk"  import title %}
{% from "govuk/components/button/macro.njk" import govukButton %}


{% block pageTitle %}
  {{ title(messages("chargeB.whatYouWillNeed.title")) }}
{% endblock %}


{% block mainContent %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          {{ messages("chargeB.whatYouWillNeed.heading") }}
        </h1>

        <p class="govuk-body">
        {{ messages("chargeB.whatYouWillNeed.p1") }}
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>{{ messages("chargeB.whatYouWillNeed.li1") }}</li>
          <li>{{ messages("chargeB.whatYouWillNeed.li2") }}</li>
        </ul>

        {{ govukButton({
                    href: nextPage,
                    attributes: {id: "submit"},
                    text: messages("site.continue")
                  }) }}

      </div>
    </div>

  <p class="govuk-body"><a href="{{returnUrl}}" class="govuk-link"> {{ messages("return.to.link", schemeName) }}</a>
    </p>
{% endblock %}
