{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "macros/title.njk"                         import title %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block pageTitle %}
  {{ title(heading) }}
{% endblock %}

{% block mainContent %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {{ hmrcPageHeading({
          text: heading,
          section: schemeName
        }) }}

        <p class="govuk-body">{{ messages("paymentsAndCharges.reflect.charge.text") }}</p>


            {% if paymentAndChargesTable.rows.length > 0 %}

                <div role="region" aria-labelledby="upcomingPaymentsAndCharges_h2" class="govuk-!-margin-bottom-7" tabindex="0">
                    {{ govukTable(paymentAndChargesTable) }}
                <div>
            {% endif %}

      </div>
    </div>

    <p class="govuk-body"><a id="return" href="{{ returnUrl }}" class="govuk-link">{{ messages("return.to.link", schemeName) }}</a></p>

{% endblock %}
