{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "macros/title.njk"                         import title %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block pageTitle %}
    {% if isDraft %}
        {{ title(messages("allAmendments.draft.title")) }}
    {% else %}
        {{ title(messages("allAmendments.submission.title")) }}
    {% endif %}
{% endblock %}

{% set returnTo %}
    {% if isDraft %}
        {{ messages("return.to.draft") }}
    {% else %}
        {{ messages("return.to.submission", versionNumber) }}
    {% endif %}
{% endset %}

{% block mainContent %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
        {% if isDraft %}
              <span class="govuk-caption-xl">{{ messages('allAmendments.h1.draft.caption') }}</span>
               {{ messages("allAmendments.draft.title") }}
        {% else %}
              <span class="govuk-caption-xl">{{ messages('allAmendments.h1.submission.caption', versionNumber) }}</span>
                {{ messages("allAmendments.submission.title") }}
        {% endif %}
        </h1>

        {% if addedTable.rows.length > 0 %}
            {{ govukTable(addedTable) }}
        {% endif %}

        {% if deletedTable.rows.length > 0 %}
            {{ govukTable(deletedTable) }}
        {% endif %}

         {% if updatedTable.rows.length > 0 %}
            {{ govukTable(updatedTable) }}
        {% endif %}
      </div>
    </div>

    <p class="govuk-body"><a href="{{ viewModel.submitUrl }}" class="govuk-link"> {{ returnTo }}</a></p>

    <p class="govuk-body"><a href="{{ viewModel.returnUrl }}" class="govuk-link"> {{ messages("return.to.link", viewModel.schemeName) }}</a></p>

{% endblock %}
