{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "macros/title.njk"                         import title %}
{% from "govuk/components/summary-list/macro.njk"  import govukSummaryList %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}


{% block pageTitle %}
  {{ title(chargeType) }}
{% endblock %}

{% block mainContent %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {{ hmrcPageHeading({
          text: (chargeType),
          section: schemeName
        }) }}

          <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half">
                   <h3 class="govuk-caption-m govuk-!-margin-bottom-1">
                      {{ messages("scheme.paymentDueAmount.new") }}
                   </h3>
                   <p class="govuk-heading-m govuk-!-margin-top-0">{{ paymentDueAmount }}</p>
              </div>
              <div class="govuk-grid-column-one-half">
                    <h3 class="govuk-caption-m govuk-!-margin-bottom-1">
                       {{ messages("scheme.paymentDueDate.new") }}
                    </h3>
                    <p class="govuk-heading-m govuk-!-margin-top-0">{{ paymentDueDate }}</p>
              </div>
          </div>

        {% if chargeDetailsList.length > 0 %}
            <h2 id ="paymentAndChargeDetails" class="govuk-heading-m">{{tableHeader}}</h2>
              {{ govukSummaryList({
                 rows: chargeDetailsList
              }) }}
        {% endif %}

        {% if insetText.length > 0 %}
            {{ govukInsetText({
              html: insetText
            }) }}
        {% endif %}

        {% if hintText %}
            <p class="govuk-body">{{hintText}}</p>
        {% endif %}

      </div>
    </div>

    {% if returnHistoryURL and versionValue.length > 0 %}
        <p class="govuk-body"><a id="return-history" href="{{ returnHistoryURL }}" class="govuk-link">{{ messages("financialPaymentsAndCharges.viewReturnHistory", versionValue) }}</a></p>
    {% endif %}

    <p class="govuk-body"><a id="return" href="{{ returnUrl }}" class="govuk-link">{{ messages("return.to.link", returnLinkBasedOnJourney) }}</a></p>

{% endblock %}
