{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"  import govukBackLink %}
{% from "macros/title.njk"                      import title %}
{% from "govuk/components/table/macro.njk"      import govukTable %}

{% block pageTitle %}
    {{ title(messages("schemeFinancial.title")) }}
{% endblock %}

{% block mainContent %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ hmrcPageHeading({
                text: messages("schemeFinancial.h1.new"),
                section: schemeName
            }) }}

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                     <h2 class="govuk-heading-l govuk-!-margin-top-4 govuk-!-margin-bottom-2">
                        {{ messages("schemeFinancial.h2.overdueCharges") }}
                    </h2>
                    <p class="govuk-body">
                        {{ messages("schemeFinancial.p1.overdueCharges") }}
                    </p>
                </div>
            </div>

            <div class="govuk-grid-row">
               <div class="govuk-grid-column-one-half">
                    <h3 class="govuk-caption-l govuk-!-margin-top-4 govuk-!-margin-bottom-2">
                       {{ messages("schemeFinancial.h2.overduePayments.new") }}
                   </h3>
                   <p class="govuk-body govuk-!-font-size-36 govuk-!-font-weight-bold">{{ totalOverdueCharge }}</p>
                 </div>
               <div class="govuk-grid-column-one-half">
                            <h3 class="govuk-caption-l govuk-!-margin-top-4 govuk-!-margin-bottom-2">
                                {{ messages("schemeFinancial.h2.totalInterestAccruing.new") }}
                            </h3>
                             <p class="govuk-body govuk-!-font-size-36 govuk-!-font-weight-bold">{{totalInterestAccruing }}</p>
                    </div>
                </div>

       {% if totalOverdueCharge != "£0.00"%}
                    <p class="govuk-body-m govuk-!-margin-bottom-6">
                        <a id="allOverdue" class=govuk-link href="{{ overduePaymentLink }}"> {{ messages("schemeFinancial.allOverdue.link") }}</a>
                    </p>
        {% endif %}

                <hr>

                <div class="govuk-grid-row">
                     <div class="govuk-grid-column-full">
                        <h2 class="govuk-heading-l govuk-!-margin-top-6 govuk-!-margin-bottom-2">
                            {{ messages("schemeFinancial.h2.totalDuePayment.new") }}
                        </h2>
                        <p class="govuk-body">
                            {{ messages("schemeFinancial.p1.totalDue.noDeadline") }}
                        </p>
                    </div>
                </div>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                            <h3 class="govuk-caption-l govuk-!-margin-top-4 govuk-!-margin-bottom-2">
                               {{ messages("schemeFinancial.h2.totalDueCharges") }}
                            </h3>
                           <p class="govuk-body govuk-!-font-size-36 govuk-!-font-weight-bold">{{ totalUpcomingCharge }}</p>

                    </div>
                </div>

                 {% if totalUpcomingCharge != "£0.00" %}
                     <p class="govuk-body-m">
                            <a id="allDue" class=govuk-link href="{{ duePaymentLink }}"> {{ messages("schemeFinancial.allDue.link.new") }}</a>
                    </p>
                 {% endif %}

                <hr>

                    <div class="govuk-grid-row">
                         <div class="govuk-grid-column-full">
                                 <h2 class="govuk-heading-l govuk-!-margin-top-6 govuk-!-margin-bottom-2">
                                                    {{ messages("schemeFinancial.h2.creditHeading") }}
                                </h2>
                                 <h3 class="govuk-caption-l govuk-!-margin-top-4 govuk-!-margin-bottom-2">
                                      {{ messages("schemeFinancial.h2.creditBalance.new") }}
                                 </h3>
                            <p class="govuk-body govuk-!-font-size-36 govuk-!-font-weight-bold"> {{creditBalanceFormatted}} </p>
                            {% if creditBalance > 0 %}
                                <p class="govuk-body-m">
                                    <a id="refund" class=govuk-link href="{{ requestRefundUrl }}"> {{ messages("schemeFinancial.refund") }} </a>
                                </p>
                            {% endif %}

                         </div>
                    </div>

                <br> {# This extra line is mandatory #}
                {% if true %}
                    <p class="govuk-body-m">
                       <a id="allPaymentCharges" class=govuk-link href="{{ allPaymentLink }}"> {{ messages("schemeFinancial.allPaymentCharges.link") }}</a>
                    </p>
                {% endif %}
        </div>
    </div>

{% endblock %}