<ul class="govuk-list govuk-list--bullet">
    <li>{{ messages("fileupload.whatYouWillNeed.annualAllowance.item1") }}</li>
    <li>{{ messages("fileupload.whatYouWillNeed.annualAllowance.item2") }}</li>
    <li>{{ messages("fileupload.whatYouWillNeed.annualAllowance.item3") }}</li>
    <li>{{ messages("fileupload.whatYouWillNeed.annualAllowance.item4") }}</li>
    <li>{{ messages("fileupload.whatYouWillNeed.annualAllowance.item5") }}</li>
    <li>{{ messages("fileupload.whatYouWillNeed.annualAllowance.item6") }}</li>
    {% if psr %}
       <li>{{ messages("fileupload.whatYouWillNeed.annualAllowance.item7") }}</li>
    {% endif %}
</ul>
<p class="govuk-body">{{ messages("fileupload.whatYouWillNeed.ltaAa.p3", chargeTypeText) }}</p>
<ul class="govuk-list govuk-list--bullet">
    <li><a href="{{fileDownloadTemplateLink}}" class="govuk-link">{{ messages("fileupload.download.template.ltaAa.link") }}</a> {{ messages("fileupload.download.template.ltaAa.linkText") }}</li>
    <li><a href="{{fileDownloadInstructionsLink}}" class="govuk-link">{{ messages("fileupload.download.instructions.ltaAa.link") }}</a></li>
</ul>