<ul class="govuk-list govuk-list--bullet">
    <li>First name</li>
    <li>Last name</li>
    <li>The tax year to which the annual allowance charge relates</li>
    <li>Charge amount (£)</li>
    <li>Date you received the notice to pay the charge</li>
    <li>Whether the type is mandatory</li>
</ul>

<p class="govuk-body">You can download a template or read more about what you will need to upload a file (opens in a new tab).</p>