<ul class="govuk-list govuk-list--bullet">
       <li>{{ messages("fileupload.whatYouWillNeed.lifeTimeAllowance.item1") }}</li>
       <li>{{ messages("fileupload.whatYouWillNeed.lifeTimeAllowance.item2") }}</li>
       <li>{{ messages("fileupload.whatYouWillNeed.lifeTimeAllowance.item3") }}</li>
       <li>{{ messages("fileupload.whatYouWillNeed.lifeTimeAllowance.item4") }}</li>
       <li>{{ messages("fileupload.whatYouWillNeed.lifeTimeAllowance.item5") }}</li>
       {% if psr %}
          <li>{{ messages("fileupload.whatYouWillNeed.lifeTimeAllowance.item6") }}</li>
       {% endif %}
</ul>
<p class="govuk-body">{{ messages("fileupload.whatYouWillNeed.ltaAa.p3", chargeTypeText) }}</p>
<ul class="govuk-list govuk-list--bullet">
        <li><a href="{{viewModel.returnUrl}}" class="govuk-link">{{ messages("fileupload.download.template.ltaAa.link", chargeTypeText) }} </a> {{ messages("fileupload.download.template.ltaAa.linkText") }}</li>
        <li><a href="{{viewModel.returnUrl}}" class="govuk-link">{{ messages("fileupload.download.instructions.ltaAa.link") }}</a></li>
</ul>