<ul class="govuk-list govuk-list--bullet">
    <li>the name, date of birth and National Insurance number for each member liable to the overseas transfer charge</li>
    <li>the date and ‘transferred value’ of each transfer</li>
    <li>the amount of tax due in respect of each transfer</li>
    <li>the reference number given by HMRC to the QROPS to which each transfer is made</li>

</ul>

<p class="govuk-body">You can download a template or read more about what you will need to upload a file (opens in a new tab).</p>