{% extends "govuk/template.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "hmrc/components/header/macro.njk"     import hmrcHeader %}
{% from "hmrc/components/timeout-dialog/macro.njk"     import hmrcTimeoutDialog %}

{%- set assetPath = "/assets/lib/govuk-frontend/govuk/assets" -%}
{%- set htmlLang = request.language -%}
{% set bodyClasses = "app-body-class" %}
{% set containerClasses = "app-width-container--wide" %}

{% block head %}
  {% block pageHead %}{% endblock %}
{{ hmrcTimeoutDialog({
  timeout:config.timeout ,
  countdown: config.countdown,
  keepAliveUrl: '/keep-alive',
  signOutUrl: routes.controllers.SignOutController.signOut(srn, startDate).url
}) }}
  {% include "includes/head.njk" %}
{% endblock %}

{% block skipLink %}
  {{ govukSkipLink({
    href: "#main-content",
    text: "Skip to main content"
  }) }}
{% endblock %}

{% block header %}
  {{ hmrcHeader({
    homepageUrl: "/pension-scheme-accounting-for-tax-frontend",
    serviceName: messages("site.service_name"),
    serviceUrl: "/pension-scheme-accounting-for-tax-frontend",
    containerClasses: "govuk-width-container",
    assetsPath: "/assets",
    signOutHref: routes.controllers.SignOutController.signOut(srn, startDate).url
  }) }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.njk" %}
    {{ govukBackLink({
      href: "#",
      text: "Back",
      classes: "js-visible"
    }) }}
{% endblock %}

{% block content %}
  {% block mainContent %}{% endblock %}
{% endblock %}

{% block bodyEnd %}
  {% block scripts %}
    {% block pageScripts %}{% endblock %}
    {% include "includes/scripts.njk" %}
  {% endblock %}
{% endblock %}

{% block footer %}
  {% include "includes/footer.njk" %}
{% endblock %}
