<script {{ params.nonce }} src="{{ routes.controllers.Assets.versioned("javascripts/application.min.js").url }}"></script>
<script {{ params.nonce }}>window.GOVUKFrontend.initAll();window.HMRCFrontend.initAll();</script>
