{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "govuk/components/radios/macro.njk"        import govukRadios %}
{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "macros/title.njk"                         import title %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block pageTitle %}
  {{ title(messages("chargeE.addMembers.title", quarterStart, quarterEnd), form.errors) }}
{% endblock %}

{% block mainContent %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% if form.errors.length > 0 %}
          {{ govukErrorSummary({
            "titleText": messages("error.summary.title"),
            "errorList": form.errors
          }) }}
        {% endif %}

        <h1 class="govuk-heading-xl">{{messages('chargeE.addMembers.heading', quarterStart, quarterEnd)}}</h1>

        <form action="{{ submitUrl }}" method="post">

          {{ csrf() | safe }}

      {% for i in range(0, 10) -%}
            {{ i }},
          {%- endfor %}


          {{ govukSummaryList({

            rows: [
              {
                key: {
                  text: "Name"
                },
                value: {
                  text: "Sarah Philips"
                },
                actions: {
                  items: [
                    {
                      href: "#",
                      text: "Change",
                      visuallyHiddenText: "name"
                    }
                  ]
                }
              },
              {
                key: {
                  text: "Date of birth"
                },
                value: {
                  text: "5 January 1978"
                },
                actions: {
                  items: [
                    {
                      href: "#",
                      text: "Change",
                      visuallyHiddenText: "date of birth"
                    }
                  ]
                }
              },
              {
                key: {
                  text: "Contact information"
                },
                value: {
                  html: "72 Guild Street<br>London<br>SE23 6FH"
                },
                actions: {
                  items: [
                    {
                      href: "#",
                      text: "Change",
                      visuallyHiddenText: "contact information"
                    }
                  ]
                }
              },
              {
                key: {
                  text: "Contact details"
                },
                value: {
                  html: '<p class="govuk-body">07700 900457</p><p class="govuk-body">sarah.phillips@example.com</p>'
                },
                actions: {
                  items: [
                    {
                      href: "#",
                      text: "Change",
                      visuallyHiddenText: "contact details"
                    }
                  ]
                }
              }
            ]
          }) }}

          {{ govukRadios({
                              classes: "govuk-radios--inline",
                              name: 'value',
                              fieldset: {
                                legend: {
                                  text: messages('chargeE.addMembers.label'),
                                  isPageHeading: false,
                                  classes: "govuk-fieldset__legend--s"
                                }
                              },
                              items: radios,
                              errorMessage: form.value.error
          }) }}

          {{ govukButton({
                            text: messages("site.continue"),
                            attributes: {id: "submit"}
                  }) }}

        </form>

      </div>
    </div>

   <a href="{{ viewModel.returnUrl }}" class="govuk-link"> {{ messages("return.to.link", viewModel.schemeName) }}</a>

{% endblock %}
