{% extends "includes/layout.njk" %}

{% from "macros/title.njk"  import title %}
{% from "govuk/components/button/macro.njk" import govukButton %}


{% block pageTitle %}
  {{ title(messages("chargeE.whatYouWillNeed.title")) }}
{% endblock %}


{% block mainContent %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          {{ messages("chargeE.whatYouWillNeed.heading") }}
        </h1>

        <p class="govuk-body">
        {{ messages("chargeE.whatYouWillNeed.p1") }}
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>{{ messages("chargeE.whatYouWillNeed.li1") }}</li>
          <li>{{ messages("chargeE.whatYouWillNeed.li2") }}</li>
          <li>{{ messages("chargeE.whatYouWillNeed.li3") }}</li>
          <li>{{ messages("chargeE.whatYouWillNeed.li4") }}</li>
          <li>{{ messages("chargeE.whatYouWillNeed.li5") }}</li>
          <li>{{ messages("chargeE.whatYouWillNeed.li6") }}</li>
          {% if psr == true %}
              <li>{{ messages("chargeE.whatYouWillNeed.li7") }}</li>
          {% endif %}
        </ul>

         {{ govukButton({
            href: viewModel.submitUrl,
            attributes: {id: "submit"},
            text: messages("site.continue")
          }) }}
      </div>
    </div>

  <p class="govuk-body"><a href="{{viewModel.returnUrl}}" class="govuk-link"> {{ messages("return.to.link", viewModel.schemeName) }}</a>
  </p>
{% endblock %}
