{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "macros/title.njk"                         import title %}
{% from "govuk/components/summary-list/macro.njk"  import govukSummaryList %}
{% from "govuk/components/input/macro.njk"         import govukInput %}
{% from "govuk/components/fieldset/macro.njk"      import govukFieldset %}

{% from 'macros/inputSearch.njk'               import hmrcInputSearch with context %}


{% block pageTitle %}
    {{ title(heading, form.errors) }}
{% endblock %}

{% block mainContent %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {% if schemeAssociated %}
                {{ hmrcPageHeading({
                      text: heading,
                      section: schemeName
                }) }}
            {% else %}
                <h1 class="govuk-heading-xl">{{ heading }}</h1>
            {% endif %}

            <p class="govuk-body govuk-tag govuk-tag--blue">
                {{ messages("penalties.status.interestAccruing") }}
            </p>

            <h2 class="govuk-heading-m">{{ period }}</h2>


            <p class="govuk-body">
                {{ messages("penalties.chargeReference", chargeReference) }}
                {{ govukSummaryList({
                    rows: list
                }) }}
            </p>

            <p class="govuk-body">
                {{ messages("penalties.hint1") }}
                <a id="original-amount-due" href="{{ originalAmountURL }}" class="govuk-link">{{ messages("penalties.hintLink") }}</a>
                {{ messages("penalties.hint2") }}
            </p>

        </div>
    </div>

<p class="govuk-body"><a id="return_to_psa" href="{{ config.managePensionsSchemeOverviewUrl }}" class="govuk-link">{{ messages("return.to.link", psaName) }}</a></p>

{% endblock %}
