{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "macros/title.njk"                         import title %}
{% from "govuk/components/table/macro.njk"         import govukTable %}
{% from "govuk/components/input/macro.njk"         import govukInput %}
{% from "govuk/components/fieldset/macro.njk"      import govukFieldset %}

{% from 'macros/inputSearch.njk'               import hmrcInputSearch with context %}


{% block pageTitle %}
  {{ title(messages("penalties.title", startDate, endDate), form.errors) }}
{% endblock %}

{% block mainContent %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        {% if schemeAssociated %}
            {{ hmrcPageHeading({
                  text: messages("penalties.title", startDate, endDate),
                  section: schemeName
                }) }}
        {% else %}
        <h1 class="govuk-heading-xl">{{ messages("penalties.title", startDate, endDate) }}</h1>
        {% endif %}

      <p class="govuk-body">{{ messages("penalties.pstr", pstr) }}</p>
      <p class="govuk-body">{{ messages("penalties.p1") }}</p>

      <p class="govuk-body">
             <h2 class="govuk-heading-m">{{ table.header }}</h2>
             {{ govukTable(table.penaltyTable) }}
      </p>

    </div>
  </div>

{% endblock %}
