{% macro trackingSnippet(params) %}
    <script
        src="{{ params.url }}"
        id="tracking-consent-script-tag"
        data-gtm-container="{{ params.gtmContainerId }}"
        data-language="{{ params.lang }}"
    ></script>
{% endmacro %}