{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "macros/title.njk"                         import title %}
{% from "govuk/components/radios/macro.njk"        import govukRadios %}
{% from "govuk/components/table/macro.njk"         import govukTable %}
{% from "govuk/components/summary-list/macro.njk"  import govukSummaryList %}
{% from "govuk/components/input/macro.njk"         import govukInput %}
{% from "govuk/components/fieldset/macro.njk"      import govukFieldset %}

{% from 'macros/inputSearch.njk'               import hmrcInputSearch with context %}


{% block pageTitle %}
  {{ title(messages("aft.summary.title", viewModel.schemeName), form.errors) }}
{% endblock %}

{% block mainContent %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if form.errors.length > 0 %}
        {{ govukErrorSummary({
          "titleText": messages("error.summary.title"),
          "errorList": form.errors
        }) }}
      {% endif %}

      {% if formSearchText.errors.length > 0 %}
        {{ govukErrorSummary({
          "titleText": messages("error.summary.title"),
          "errorList": formSearchText.errors
        }) }}
      {% endif %}

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">{{ viewModel.schemeName }}</span>
        {{ messages('aft.summary.heading', quarterStartDate, quarterEndDate) }}
      </h1>

       <form action="{{searchURL}}" method="post" autocomplete="off">
           {{ csrf() | safe }}

                {% if formSearchText.searchText.value %}
                    {% set btnText = messages('aft.summary.searchAgain.button') %}
                {% else %}
                    {% set btnText = messages('aft.summary.search.button') %}
                {% endif  %}

               {{hmrcInputSearch({
                   id: "searchText",
                      label: {
                        text: messages('aft.summary.search.label'),
                        isPageHeading: false,
                        classes: "govuk-label--m"
                     },
                   formGroup: {
                     classes: "govuk-!-margin-bottom-0"
                     },
                     name: "searchText",
                     type: "search",
                     value: formSearchText.searchText.value,
                     classes: "govuk-!-width-one-half",
                     errorMessage: formSearchText.searchText.error,
                     hint: {
                       text: messages('aft.summary.search.hint')
                     },
                     searchButton: {
                         attributes: {id: "search"},
                         text: btnText,
                         classes:"govuk-button--secondary govuk-!-margin-bottom-3"
                     }

                    })
               }}

             {% if formSearchText.searchText.value %}
                    <p class="govuk-body  govuk-!-margin-bottom-6"><a class="govuk-link" href="{{ aftSummaryURL }}">
                        {{ messages('aft.summary.search.clearSearch') }}
                        </a>
                    </p>
             {% endif  %}

            {% if formSearchText.searchText.value %}
                {% if list.length == 0 %}
                <div class="govuk-form-group">
                   <h2 class="govuk-heading-m">
                       {{ messages("aft.summary.search.noResults.h2") }}
                   </h2>
                   <p class="govuk-body">{{ messages("aft.summary.search.noResults.p1") }}</p>
                   <ul class="govuk-list govuk-list--bullet">
                      <li>{{ messages("aft.summary.search.noResults.b1") }}</li>
                      <li>{{ messages("aft.summary.search.noResults.b2") }}</li>
                   </ul>
                </div>
                {% else %}
                    {% if list.length == 1 %}
                        {% set resultText = messages('aft.summary.search.result') %}
                    {% else %}
                        {% set resultText = messages('aft.summary.search.results') %}
                    {% endif  %}
                    <p class="govuk-body govuk-!-margin-bottom-6">{{list.length}} {{resultText}} </p>
                   {% for row in list %}
                   <div class="govuk-form-group">
                     <h2 class="govuk-heading-m">{{ row.name }}</h2>
                     {{ govukSummaryList({
                       rows: row.rows,
                       classes: "govuk-!-margin-bottom-5"
                     }) }}

                     <p class="govuk-body">
                         {% for action in row.actions %}
                            <a class="govuk-link govuk-!-margin-right-3" href="{{ action.href }}">{{ action.text }}
                              <span class="govuk-visually-hidden">{{ action.text }} {{ row.name }} </span>
                            </a>
                         {% endfor %}
                     </p>
                     </div>
                   {% endfor %}

                {% endif %}
            {% endif %}
        </form>

        <form action="{{ viewModel.submitUrl }}" method="post" autocomplete="off">

          {{ csrf() | safe }}

          {% if viewAllAmendmentsLink %}
              <p class="govuk-body">
                {{viewAllAmendmentsLink | safe}}
              </p>
          {% endif %}

          {% if formSearchText.searchText.value |length == 0 %}
            {% if list.length > 0 %}
              {{ govukSummaryList({
                 rows: list
              }) }}
            {% endif %}
          {% endif %}

          {% if canChange %}
              {{ govukRadios({
                classes: "govuk-radios--inline",
                name: 'value',
                fieldset: {
                  legend: {
                    text: messages('aft.summary.radio.question'),
                    classes: "govuk-fieldset__legend--m"
                  }
                },
                items: radios,
                errorMessage: form.value.error
              }) }}

              {{ govukButton({
                  text: messages("site.continue"),
                  attributes: {id: "submit"}
                }) }}
          {% endif %}
        </form>

    </div>
  </div>

  {% if returnHistoryURL %}
      <p>
        <a href="{{ returnHistoryURL }}" class="govuk-link"> {{ messages("viewAllSubmissionsForReturn") }}</a>
      </p>
  {% endif %}

  <a href="{{ viewModel.returnUrl }}" class="govuk-link"> {{ messages("return.to.link", viewModel.schemeName) }}</a>

{% endblock %}