{% extends "includes/layout.njk" %}

{% from "macros/title.njk" import title %}

{% block pageTitle %}
  {{ title(messages("cannotResume.title")) }}
{% endblock %}

{% block mainContent %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          {{ messages("cannotResume.heading") }}
        </h1>

        <p class="govuk-body">{{ messages("cannotResume.p1") }}</p>

        <p class="govuk-body">
            <a href="{{ returnUrl }}" class="govuk-link">{{ messages("return.to.link", schemeName) }}</a>
        </p>
      </div>
    </div>

{% endblock %}
