{% extends "includes/layout.njk" %}

{% from "macros/title.njk"                         import title %}

{% block pageTitle %}
  {{ title(messages("cannotSubmitAFT.title")) }}
{% endblock %}

{% block mainContent %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          {{ messages("cannotSubmitAFT.heading") }}
        </h1>

        <p class="govuk-body">{{ messages("cannotSubmitAFT.p1") }}</p>
        <p class="govuk-body">{{ messages("cannotSubmitAFT.p2") }}</p>

        <p class="govuk-body"><a href="{{ returnUrl }}" class="govuk-link">{{ messages("site.return_to_scheme_overview") }}</a>
                </p>
      </div>
    </div>

{% endblock %}
