{% extends "includes/layout.njk" %}

{% from "macros/title.njk"                         import title %}

{% block pageTitle %}
  {{ title(messages("pageCannotChangeAFTReturn.title")) }}
{% endblock %}

{% block mainContent %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          {{ messages("pageCannotChangeAFTReturn.heading") }}
        </h1>

        <p class="govuk-body">
          {{ messages("pageCannotChangeAFTReturn.p1", schemeName) }}
        </p>

        <p class="govuk-body">
          {{ messages("pageCannotChangeAFTReturn.p2") }} <a href="{{ viewVersionURL }}" id="viewAFTReturn" class="govuk-link"> {{ messages("pageCannotChangeAFTReturn.p2link", quarterStart, quarterEnd) }}</a>.
        </p>

      </div>
    </div>

  <a href="{{ returnUrl }}" class="govuk-link"> {{ messages("return.to.link", schemeName) }}</a>

{% endblock %}
