{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk"  import govukSummaryList %}
{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "macros/title.njk"                         import title %}

{% block pageTitle %}
  {{ title(messages("checkYourAnswers.title", messages(chargeName).toLowerCase())) }}
{% endblock %}

{% block mainContent %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          {{ messages("checkYourAnswers.heading") }}
        </h1>

        <h2 class="govuk-heading-m">{{messages(chargeName)}}</h2>

        {{ govukSummaryList({
          rows: list
        }) }}

        {% if canChange %}

            {% if removeChargeUrl %}
                <p><a href="{{ removeChargeUrl }}" class="govuk-link">{{ messages("removeCharge.linkText") }}</a></p>
            {% endif %}

            {{ govukButton({
                text: messages("site.save_charge_and_continue"),
                href: viewModel.submitUrl,
                attributes: {id: "submit"}
              }) }}

        {% else %}
            {{ govukButton({
                 text: messages("site.return_to_summary"),
                 href: routes.controllers.AFTSummaryController.onPageLoad(srn, startDate).url,
                 attributes: {id: "submit"}
            }) }}
        {% endif %}
      </div>
    </div>
     <a href="{{ viewModel.returnUrl }}" class="govuk-link">{{ messages("return.to.link", viewModel.schemeName) }}</a>

{% endblock %}
