{% extends "includes/layout.njk" %}

{% from "macros/title.njk"                         import title %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block beforeContent %}
  {% include "includes/phase-banner.njk" %}
{% endblock %}

{% block pageTitle %}
  {{ title(messages("confirmation.title")) }}
{% endblock %}

{% block mainContent %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {{ govukPanel({
                titleText: messages("confirmation.aft.return"),
                html: panelHtml
        }) }}

        <p class="govuk-body">{{messages("confirmation.p1", email)}}</p>

        {{ govukSummaryList({
                    rows: list
                  })
        }}

        <h2 class="govuk-heading-m">{{messages("confirmation.whatNext.h2")}}</h2>
         <p class="govuk-body">{{messages("confirmation.whatNext.p1")}}</p>
         <p class="govuk-body">{{messages("confirmation.whatNext.p2")}}</p>

         <div><ul class="govuk-list govuk-list--bullet">
            <li>{{messages("confirmation.whatNext.item1")}}</li>
            <li>{{messages("confirmation.whatNext.item2")}}</li>
        </ul></div>

        <ul class="govuk-list">
              <li><a href="{{ viewModel.returnUrl }}" class="govuk-link">{{ messages("confirmation.li1", viewModel.schemeName) }}</a></li>
              <li><a href="{{ pensionSchemesUrl }}" class="govuk-link">{{ messages("confirmation.li2", viewModel.schemeName) }}</a></li>
        </ul>

        <h2 class="govuk-heading-m">{{messages("confirmation.saveOrPrint.h2")}}</h2>

        <p class="govuk-body"><a class="print-this-page" href="#">{{messages("confirmation.saveOrPrint.page.link.text")}}</a></p>

        {{ govukButton({
            href: viewModel.submitUrl,
            attributes: {id: "submit"},
            text: messages("site.finishAndSignOut")
          }) }}
      </div>
    </div>

{% endblock %}
