{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "govuk/components/radios/macro.njk"        import govukRadios %}
{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "macros/title.njk"                         import title %}

{% block pageTitle %}
  {{ title(messages("removeLastCharge.title")) }}
{% endblock %}

{% block mainContent %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

             <h1 class="govuk-heading-xl">
                {{ messages("removeLastCharge.title") }}
              </h1>

              <p class="govuk-body">
              {{ messages("removeLastCharge.p1") }}
              </p>

          {{ govukButton({
                      href: viewModel.submitUrl,
                      attributes: {id: "submit"},
                      text: messages("site.continue")
                  }) }}

      </div>
    </div>

    <p class="govuk-body"><a href="{{ viewModel.returnUrl }}" class="govuk-link">{{ messages("return.to.link", viewModel.schemeName) }}</a>
    </p>
{% endblock %}
