{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "govuk/components/input/macro.njk"         import govukInput %}
{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "macros/title.njk"                         import title %}

{% block pageTitle %}
  {{ title(messages("chargeG.chargeAmount.title", memberName), form.errors) }}
{% endblock %}

{% block mainContent %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

       <h1 class="govuk-heading-xl">{{messages('chargeG.chargeAmount.heading', memberName)}}</h1>

        {% if form.errors.length > 0 %}
          {{ govukErrorSummary({
            "titleText": messages("error.summary.title"),
            "errorList": form.errors
          }) }}
        {% endif %}

        <form action="{{ submitUrl }}" method="post">

          {{ csrf() | safe }}

          {{ govukInput({
            label: {
              text: messages('chargeG.chargeAmount.transferred'),
              isPageHeading: false,
              classes: "govuk-label--s"
            },
            id: "amountTransferred",
            name: "amountTransferred",
            value: form.amountTransferred.value,
            classes: "govuk-input--width-10",
            errorMessage: form.amountTransferred.error
          }) }}

        {{ govukInput({
          label: {
            text: messages('chargeG.chargeAmount.taxDue'),
            isPageHeading: false,
            classes: "govuk-label--s"
          },
          id: "amountTaxDue",
          name: "amountTaxDue",
          value: form.amountTaxDue.value,
          classes: "govuk-input--width-10",
          errorMessage: form.amountTaxDue.error
        }) }}

          {{ govukButton({
            text: messages("site.continue"),
            attributes: {id: "submit"}
          }) }}

        </form>

      </div>
    </div>
    <a href="{{ viewModel.returnUrl }}" class="govuk-link">{{ messages("return.to.link", viewModel.schemeName) }}</a>

{% endblock %}
