{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "govuk/components/date-input/macro.njk"    import govukDateInput %}
{% from "govuk/components/input/macro.njk"         import govukInput %}
{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "macros/title.njk"                         import title %}
{% from 'macros/govHmrcInput/macro.njk'               import hmrcInputCurrency with context %}

{% block pageTitle %}
  {{ title(messages("chargeG.chargeDetails.title", memberName), form.errors) }}
{% endblock %}

{% block mainContent %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% if form.errors.length > 0 %}
          {{ govukErrorSummary({
            "titleText": messages("error.summary.title"),
            "errorList": form.errors
          }) }}
        {% endif %}

        <h1 class="govuk-heading-xl">{{messages('chargeG.chargeDetails.heading', memberName)}}</h1>

        <form action="{{ submitUrl }}" method="post" autocomplete="off">

          {{ csrf() | safe }}

            {{ hmrcInputCurrency({
                label: {
                    text: messages('chargeG.chargeDetails.qropsReferenceNumber.label'),
                    isPageHeading: false,
                    classes: "govuk-label--s"
                },
                id: "qropsReferenceNumber",
                name: "qropsReferenceNumber",
                value: form.qropsReferenceNumber.value,
                classes: "govuk-input--width-10",
                errorMessage: form.qropsReferenceNumber.error,
                symbol: "Q"
              }) }}

          {{ govukDateInput({
            id: "qropsdobWrapper",
            fieldset: {
              legend: {
                text: messages('chargeG.chargeDetails.qropsTransferDate.label'),
                isPageHeading: false,
                classes: "govuk-fieldset__legend--s"
              }
            },
            errorMessage: date.error,
            items: date.items
          }) }}

          {{ govukButton({
            text: messages("site.continue"),
            attributes: {id: "submit"}
          }) }}

        </form>

      </div>
    </div>

    <a href="{{ viewModel.returnUrl }}" class="govuk-link">{{ messages("return.to.link", viewModel.schemeName) }}</a>

{% endblock %}
