<ul class="govuk-list govuk-list--bullet">
    <li>{{ messages("fileupload.upload.details.annualAllowance.item1") }}</li>
    <li>{{ messages("fileupload.upload.details.annualAllowance.item2") }}</li>
    <li>{{ messages("fileupload.upload.details.annualAllowance.item3") }}</li>
    <li>{{ messages("fileupload.upload.details.annualAllowance.item4") }}</li>
    <li>{{ messages("fileupload.upload.details.annualAllowance.item5") }}</li>
    <li>{{ messages("fileupload.upload.details.annualAllowance.item6") }}</li>
    <li>{{ messages("fileupload.upload.details.annualAllowance.item7") }}</li>

</ul>
