<ul class="govuk-list govuk-list--bullet">
       <li>{{ messages("fileupload.upload.details.lifeTimeAllowance.item1") }}</li>
       <li>{{ messages("fileupload.upload.details.lifeTimeAllowance.item2") }}</li>
       <li>{{ messages("fileupload.upload.details.lifeTimeAllowance.item3") }}</li>
       <li>{{ messages("fileupload.upload.details.lifeTimeAllowance.item4") }}</li>
       <li>{{ messages("fileupload.upload.details.lifeTimeAllowance.item5") }}</li>
       <li>{{ messages("fileupload.upload.details.lifeTimeAllowance.item6") }}</li>
</ul>
