//responsive table css

.hmrc-responsive-table tbody tr{
    display: block;

}

.hmrc-responsive-table tbody tr td {
    display: block;
    display: flex;
    justify-content: space-between;
    min-width: 1px;

}

.hmrc-responsive-table thead {

    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

}

.hmrc-responsive-table__heading {

    display: block;
    font-weight: 700;
    padding-right: 1em;
    text-align: left;
}


.hmrc-responsive-table, input, .ctc-format-ref {

    font-variant-numeric: lining-nums tabular-nums;

}

.hmrc-responsive-table td:last-child, .hmrc-responsive-table th:last-child {
    padding-right: 20px;
}

@media only screen and (max-width: 999px) {

    td.empty-mobile:nth-child(1), td.empty-mobile:nth-child(4), td.empty-mobile:nth-child(5) {
      display:none;
    }

    .hmrc-responsive-table tbody > tr{

        background-color: #fff;
        box-shadow: 0 4px 0 0 #d8dde0;
        padding: 0 0 0.5em 0.5em;
        margin-bottom: 1.5em

    }

    .hmrc-responsive-table tbody > tr > td:nth-child(5) {
        border-bottom: 0px;
    }
    .hmrc-responsive-table td:last-child, table th:last-child {
        border-bottom: 0px;
    }
}

@media only screen and (min-width: 1000px) {
    .hmrc-responsive-table tbody tr  {
        display: table-row;
    }

    .hmrc-responsive-table thead {

      clip: auto;
        -webkit-clip-path: none;
        clip-path: none;
        display: table-header-group;
        height: auto;
        overflow: auto;
        position: relative;
        width: auto;
    }
    .hmrc-responsive-table tbody tr td {

        display: table-cell;


    }

    .hmrc-responsive-table__heading {

        display: none;

    }
    .column-two-thirds > .hmrc-responsive-table:nth-child(2) > thead:nth-child(1) > tr:nth-child(1) > th:nth-child(1) {
        padding-right: 80px;
    }
}