$govuk-assets-path: "/manage-pension-scheme-accounting-for-tax/assets/lib/govuk-frontend/govuk/assets/";
$hmrc-assets-path: "/manage-pension-scheme-accounting-for-tax/assets/lib/hmrc-frontend/hmrc/assets";

@import "lib/govuk-frontend/govuk/all";
@import "lib/hmrc-frontend/hmrc/components/header/header";
@import "lib/hmrc-frontend/hmrc/components/page-heading/page-heading";
@import "language-toggles.scss";
@import "_input-currency.scss";
@import "_timeout-dialog.scss";
@import "_responsive-table.scss";

.js-visible {
    display: none;
}

.hmrc-header.hmrc-header--with-additional-navigation .hmrc-sign-out-nav__link:focus {
    color: #0B0C0C;
}