$govuk-assets-path: "/manage-pension-scheme-accounting-for-tax/assets/lib/govuk-frontend/dist/govuk/assets/";
$hmrc-assets-path: "/manage-pension-scheme-accounting-for-tax/assets/lib/hmrc-frontend/hmrc/assets";

@import "lib/govuk-frontend/dist/govuk/all";
@import "lib/hmrc-frontend/hmrc/components/header/header";
@import "lib/hmrc-frontend/hmrc/components/page-heading/page-heading";
@import "language-toggles.scss";
@import "_input-currency.scss";
@import "lib/hmrc-frontend/hmrc/components/timeout-dialog/_timeout-dialog.scss";
@import "_responsive-table.scss";

.js-visible {
    display: none;
}

.govuk-hint.govuk-radios__hint.govuk-tag.govuk-tag--red {
    text-align: center;
    align-self: center;
    padding: 8px 10px;
    margin-top: 3px;
    max-width: fit-content;
    margin-left: auto;
}

.hmrc-header.hmrc-header--with-additional-navigation .hmrc-sign-out-nav__link:focus {
    color: #0B0C0C;
}

.autocomplete__input:focus, .form-control:focus {
    outline: 3px solid #fd0;
    outline-offset: 0;
    -webkit-box-shadow: inset 0 0 0 2px;
    box-shadow: inset 0 0 0 2px;
}

.card-body {
    @media screen and (max-width: 640px) {
      min-height: 50px;
    }
}

.table-nowrap {
    white-space: nowrap;
}
