{% extends "includes/layout.njk" %}

{% from "macros/title.njk"  import title %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}


{% block pageTitle %}
  {{ title(messages("fileupload.fileupload.title", chargeType)) }}
{% endblock %}


{% block mainContent %}

    <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">
              {{ messages("fileupload.fileupload.heading", chargeTypeText) }}
            </h1>

            <form action="{{ viewModel.submitUrl }}" method="post" enctype="multipart/form-data" class="govuk-body">

            {% for field in formFields %}
                <input type="hidden" name="{{field[0]}}" value="{{field[1]}}"/>
            {% endfor %}

            <div class="">
                <div class="form-group">
                    <label class="form-label" for="file-input">
                        <span class="">File to upload</span>
                    </label>
                    <div class="form-control-wrapper">
                        <input
                        type="file"
                        id="file-input"
                        name="file"
                        accept=".csv" />
                    </div>
                </div>
            </div>

             {{ govukButton({
             text: messages("site.continue"),
             attributes: {id: "submit"}
           }) }}
          </div>
        </div>

         </form>

      <p class="govuk-body"><a href="{{viewModel.returnUrl}}" class="govuk-link"> {{ messages("return.to.link", viewModel.schemeName) }}</a>
      </p>
{% endblock %}
