{% extends "includes/layout.njk" %}

{% from "macros/title.njk"  import title %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}


{% block pageTitle %}
  {{ title(messages("fileupload.inputSelection.title")) }}
{% endblock %}


{% block mainContent %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form action="{{  viewModel.submitUrl }}" method="post" autocomplete="off" novalidate >
            {{ csrf() | safe }}

            {{ govukRadios({
                name: 'value',
                fieldset: {
                  legend: {
                    text: messages("fileupload.inputSelection.heading", messages(chargeType)),
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--xl govuk-!-margin-bottom-8"
                  }
                },
                items: radios
              }) }}

            {{ govukButton({
                text: messages("site.continue"),
                attributes: {id: "submit"}
            }) }}

        </form>

      </div>
    </div>

  <p class="govuk-body"><a href="{{viewModel.returnUrl}}" class="govuk-link"> {{ messages("return.to.link", viewModel.schemeName) }}</a>
  </p>
{% endblock %}
