{% extends "includes/layout.njk" %}

{% from "macros/title.njk"  import title %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}


{% block pageTitle %}
  {{ title(messages("aaa", chargeType)) }}
{% endblock %}


{% block mainContent %}


    <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">
              {{ messages("Someheading", chargeType) }}
            </h1>

            <p class="govuk-body">{{ result }}</p>

            {{ viewModel.errors }}

      <p class="govuk-body"><a href="{{viewModel.returnUrl}}" class="govuk-link"> {{ messages("return.to.link", viewModel.schemeName) }}</a>
      </p>
{% endblock %}
