{% extends "includes/layout.njk" %}

{% from "macros/title.njk"                         import title %}
{% from "macros/returnLink.njk"                    import returnLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {{ title(messages(pageTitle)) }}
{% endblock %}

{% block mainContent %}

    {% if heading == "messages__processingRequest__h1_processing" %}
        <meta http-equiv="refresh" content="4"/>
    {% endif %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          {{ messages(heading) }}
        </h1>

        <p class="govuk-body">{{ messages(content) }}</p>

        {{ govukButton({
            href: continueUrl,
            attributes: {id: "submit"},
            text: messages("site.continue")
        }) }}
      </div>
    </div>

{% endblock %}
