{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "macros/title.njk"                         import title %}
{% from "govuk/components/summary-list/macro.njk"  import govukSummaryList %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block pageTitle %}
  {{ title(messages(chargeType)) }}
{% endblock %}

{% block mainContent %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
                <span class="govuk-caption-xl">{{ schemeName }}</span>
               {{ chargeType }}
        </h1>

        {% if accruedInterest > 0 %}
              <p class="govuk-body govuk-tag govuk-tag--blue">{{ messages("paymentsAndCharges.status.InterestAccruing") }}</p>
        {% endif %}

        {% if chargeDetailsList.length > 0 %}
            <h2 id ="paymentAndChargeDetails" class="govuk-heading-m">{{tableHeader}}</h2>
            <p class="govuk-body">{{messages("paymentsAndCharges.interest.chargeReference")}}</p>
              {{ govukSummaryList({
                 rows: chargeDetailsList
              }) }}
        {% endif %}

        <p class="govuk-body">
            {{ messages("paymentsAndCharges.interest.chargeReference.text1") }}
            <a href="{{ originalAmountUrl }}" class="govuk-link">{{ messages("paymentsAndCharges.interest.chargeReference.linkText") }}</a>
            {{ messages("paymentsAndCharges.interest.chargeReference.text2") }}
        </p>

      </div>
    </div>

    <p class="govuk-body"><a id="return" href="{{ returnUrl }}" class="govuk-link">{{ messages("return.to.link", schemeName) }}</a></p>

{% endblock %}
