{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "govuk/components/input/macro.njk"         import govukInput %}
{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "macros/title.njk"                         import title %}

{% block pageTitle %}
  {{ title(messages("chargeC.sponsoringIndividualDetails.title"), form.errors) }}
{% endblock %}

{% block mainContent %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% if form.errors.length > 0 %}
          {{ govukErrorSummary({
            "titleText": messages("error.summary.title"),
            "errorList": form.errors
          }) }}
        {% endif %}

        <h1 class="govuk-heading-xl">{{messages('chargeC.sponsoringIndividualDetails.heading')}}</h1>

        <form action="{{  viewModel.submitUrl }}" method="post" autocomplete="off" novalidate >

          {{ csrf() | safe }}

          {{ govukInput({
            label: {
              text: messages('chargeC.sponsoringIndividualDetails.firstName.label'),
              isPageHeading: false,
              classes: "govuk-label--s"
            },
            id: "firstName",
            name: "firstName",
            value: form.firstName.value,
            classes: "govuk-input--width-20",
            attributes: {autocomplete: "off"},
            errorMessage: form.firstName.error
          }) }}

        {{ govukInput({
          label: {
            text: messages('chargeC.sponsoringIndividualDetails.lastName.label'),
            isPageHeading: false,
            classes: "govuk-label--s"
          },
          id: "lastName",
          name: "lastName",
          value: form.lastName.value,
          classes: "govuk-input--width-20",
          attributes: {autocomplete: "off"},
          errorMessage: form.lastName.error
        }) }}

        {{ govukInput({
          label: {
            text: messages('chargeC.sponsoringIndividualDetails.nino.label'),
            isPageHeading: false,
            classes: "govuk-label--s"
          },
          id: "nino",
          name: "nino",
          value: form.nino.value,
          classes: "govuk-input--width-10",
          attributes: {autocomplete: "off"},
          errorMessage: form.nino.error
        }) }}

          {{ govukButton({
            text: messages("site.continue"),
            attributes: {id: "submit"}
          }) }}

        </form>

      </div>
    </div>
    <p class="govuk-body"><a href="{{ viewModel.returnUrl }}" class="govuk-link">{{ messages("return.to.link", viewModel.schemeName) }}</a>
    </p>
{% endblock %}
