{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "govuk/components/input/macro.njk"         import govukInput %}
{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "macros/title.njk"                         import title %}

{% block pageTitle %}
  {{ title(messages("chargeC.employerAddressSearch.title", sponsorName), form.errors) }}
{% endblock %}

{% block mainContent %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% if form.errors.length > 0 %}
          {{ govukErrorSummary({
            "titleText": messages("error.summary.title"),
            "errorList": form.errors
          }) }}
        {% endif %}

        <h1 class="govuk-heading-xl">{{messages('chargeC.employerAddressSearch.heading', sponsorName)}}</h1>

        <form action="{{  viewModel.submitUrl }}" method="post" autocomplete="off">

          {{ csrf() | safe }}

          {{ govukInput({
            label: {
              text: messages('chargeC.employerAddressSearch.label'),
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s govuk-!-font-weight-bold"
            },
            id: "value",
            name: "value",
            value: form.value.value,
            classes: "govuk-input--width-10",
            errorMessage: form.value.error
          }) }}

          <p class="govuk-body">
            {{ messages("chargeC.employerAddressSearch.link.youCan") }} <a href="{{ enterManuallyUrl }}" class="govuk-link">{{ messages("chargeC.employerAddressSearch.link.enterManually") }}</a>.
          </p>

          {{ govukButton({
            text: messages("chargeC.employerAddressSearch.findAddress"),
            attributes: {id: "submit"}
          }) }}

        </form>

      </div>
    </div>
    <a href="{{ viewModel.returnUrl }}" class="govuk-link">{{ messages("return.to.link", viewModel.schemeName) }}</a>

{% endblock %}
